@CHARSET "UTF-8";
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: .9em; }

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.thrace-colorpicker div{
    float:left;
}

.colorSelector{
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    background: url(../images/select2.png);
}

.colorSelector div {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: url(../images/select2.png) center;
}


.ui-selecting { background: #eee; }
   .ui-selecting .handle { background: #ddd; }
   .ui-selected { background: #def; }
   .ui-selected .handle { background: #cde; }

.thrace-image, .thrace-multi-image-upload-error, .thrace-progress-info {
    margin-top: 5px;
    margin-bottom: 10px;
}

.thrace-controls {
    margin-top: 15px;
    margin-bottom: 5px;
}

.thrace-drag-drop {
    border: 4px dashed #DDD;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}

.thrace-drag-drop .thrace-drag-drop-inside {
    margin: 70px auto 0;
    width: 250px;
}

.thrace-drag-drop-inside p.thrace-drag-drop-info {
    font-size: 20px;
}

.thrace-drag-drop .thrace-drag-drop-inside p {
    text-align: center;
}

.thrace-drag-drop-inside p {
    color: #AAA;
    margin: 5px 0;
}


.thrace-grid {
    width: 620px;;
}
